.container {
  margin: 20px;
}

.node {
  padding: 10px 15px;
  background-color: lightblue;
  border: 1px solid #333;
  border-radius: 6px;
  font-weight: bold;
}

#list {
  display: flex;
  gap: 20px;
}
.arrow {
  font-size: 20px;
  font-weight: bold;
  align-self: center;
}
